ul{
	height: auto;
	width: 160px;
	background-color: orange;
	border: none;
	margin: 10px;
	margin-left: 47.5%;
	margin-top: 5%;
	border:none;
}

button{
	margin-left: 5%;
	margin-top: 5%;
	background-color: gray; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

body{
	background-image: url(http://freevectorfinder.com/images/thumb/hand-drawn-fortune-cookie-vectors-23288.jpg);
}